<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/security"
             xmlns:beans="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
    http://www.springframework.org/schema/security
    http://www.springframework.org/schema/security/spring-security-3.1.xsd">

	<beans:bean id="roleHierarchy" class="org.springframework.security.userdetails.hierarchicalroles.RoleHierarchyImpl" >
		<beans:property name="hierarchy">
			<beans:value>
		        ROLE_SUPERVISOR > ROLE_ADMIN
		        ROLE_ADMIN > ROLE_AUTHENTICATED
			</beans:value>
		</beans:property>
	</beans:bean>
	
	<beans:bean id="userDetailsService" class="org.springframework.security.userdetails.hierarchicalroles.UserDetailsServiceWrapper" >
		<beans:property name="roleHierarchy" ref="roleHierarchy" />
	</beans:bean>

<!--  	<http auto-config="false">
		<intercept-url pattern="/login.jsp*" filters="none" requires-channel="http"/>
		<intercept-url pattern="/css/**" filters="none"/>
		<intercept-url pattern="/images/**" filters="none"/>
		<intercept-url pattern="/logs/**"  filters="none"/>
		<intercept-url pattern="/**"  filters="none"/>
		<form-login login-page="/login.jsp" default-target-url="/login.html" always-use-default-target="true" authentication-failure-url="/login.jsp?login_error=1"/>

		<anonymous />
		<http-basic />
		<logout logout-success-url="/login.jsp?logout_success=1"/>
	</http>-->
	
	<http>
		<session-management session-fixation-protection="migrateSession"/>
		<intercept-url pattern="/login" requires-channel="https"/>
        <intercept-url pattern="/j_spring_security_check" requires-channel="https"/>
        <intercept-url pattern="/**" requires-channel="http"/>
        
        <!-- form login -->
        <form-login login-page="/login" login-processing-url="/j_spring_security_check"
                    always-use-default-target="true" default-target-url="/"/>

        <!-- logout -->
        <logout logout-url="/j_spring_security_logout"/>

        <!-- remember me -->
        <remember-me key="rememberMeKey" user-service-ref="userDetailsService"/>
	</http>

	 <!-- authentication manager and password hashing -->
    <authentication-manager alias="authenticationManager">
        <authentication-provider ref="daoAuthenticationProvider"/>
    </authentication-manager>
    
     <beans:bean id="daoAuthenticationProvider" class="org.springframework.security.authentication.dao.DaoAuthenticationProvider">
        <beans:property name="userDetailsService" ref="userDetailsService"/>
        <beans:property name="saltSource">
            <beans:bean class="org.springframework.security.authentication.dao.ReflectionSaltSource">
                <beans:property name="userPropertyToUse" value="username"/>
            </beans:bean>
        </beans:property>
        <beans:property name="passwordEncoder" ref="passwordEncoder"/>
    </beans:bean>

    <beans:bean id="userDetailsService"  name="userAuthenticationProvider" class="pl.wybornie.web.AuthenticationUserDetails">
        <beans:constructor-arg index="0" ref="userRepository"/>
    </beans:bean>

    <beans:bean id="passwordEncoder" class="org.springframework.security.authentication.encoding.ShaPasswordEncoder">
        <beans:constructor-arg index="0" value="256"/>
    </beans:bean>
    
</beans:beans>