<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
    "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>
		<property name="hibernate.cache.provider_class">net.sf.ehcache.hibernate.EhCacheProvider</property>
		<property name="hibernate.cache.provider_configuration_file_resource_path">ehcache.xml</property>
		
		<mapping class="pl.wybornie.entity.City" />
		<mapping class="pl.wybornie.entity.Country" />
		<mapping class="pl.wybornie.entity.EntityBean" />
		<mapping class="pl.wybornie.entity.Province" />
		<mapping class="pl.wybornie.entity.User" />
						
		<mapping class="pl.wybornie.entity.cookBook.Category" />
		<mapping class="pl.wybornie.entity.cookBook.CategoryGroup" />
		<mapping class="pl.wybornie.entity.cookBook.CookBook" />
		<mapping class="pl.wybornie.entity.cookBook.CookBookRecipe" />
		<mapping class="pl.wybornie.entity.cookBook.Difficulty" />
		<mapping class="pl.wybornie.entity.cookBook.Ingredient" />
		<mapping class="pl.wybornie.entity.cookBook.Recipe" />
		<mapping class="pl.wybornie.entity.cookBook.RecipeCategory" />
		<mapping class="pl.wybornie.entity.cookBook.RecipeItem" />
		<mapping class="pl.wybornie.entity.cookBook.TimeConsuming" />
		<mapping class="pl.wybornie.entity.cookBook.UserCookBook" />
	</session-factory>

</hibernate-configuration>

