<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4"
         xmlns="http://java.sun.com/xml/ns/j2ee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee 
         http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd" >
         
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
	
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener> 	
    <context-param>	
   		<param-name>contextConfigLocation</param-name>
    	<param-value>
		 /WEB-INF/applicationContext.xml
		 /WEB-INF/applicationContext-security.xml	
		</param-value>
    </context-param>	
    
	<session-config>
		<session-timeout>60</session-timeout>
	</session-config>
	
  	<filter>
        <filter-name>springSecurityFilterChain</filter-name>
        <filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
    </filter>
    
  	<filter-mapping>
		<filter-name>springSecurityFilterChain</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<listener>
		<listener-class>org.springframework.security.ui.session.HttpSessionEventPublisher</listener-class>
	</listener>
	<listener>
	  <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	<listener>
	  <listener-class>org.springframework.web.context.request.RequestContextListener</listener-class>
	</listener>

	<filter>
		<filter-name>RequestCharacterEncoding</filter-name>
		<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>

		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
		<init-param>
			<param-name>forceEncoding</param-name>
			<param-value>true</param-value>
		</init-param>
		<init-param>
			<param-name>responseEncoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
	</filter>
	
	<!-- For all 'actions' submits the encoding shall be UTF-8 -->
	<filter-mapping>
		<filter-name>RequestCharacterEncoding</filter-name>
		<url-pattern>*.html</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>RequestCharacterEncoding</filter-name>
		<url-pattern>*.pdf</url-pattern>
	</filter-mapping>
    
	<filter-mapping>
		<filter-name>RequestCharacterEncoding</filter-name>
		<url-pattern>*.txt</url-pattern>
	</filter-mapping>	
	<filter-mapping>
		<filter-name>RequestCharacterEncoding</filter-name>
		<url-pattern>*.jsp</url-pattern>
	</filter-mapping>

    <servlet>
		<servlet-name>wybornie</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<load-on-startup>2</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>wybornie</servlet-name>
		<url-pattern>*.html</url-pattern>
	</servlet-mapping>
	




</web-app>